# Predicting the Winner of Valorant Masters Shanghai

##### https://github.com/srineshselvaraj/VCTShanghai

### Scraping Data from vlr.gg

In [10]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [11]:
def get_url(team):
    if team == "100T":
        url = 'https://www.vlr.gg/team/stats/120/100-thieves/?event_id=all&core_id=all&date_start=2024-02-16&date_end='
    elif team == "G2":
        url = 'https://www.vlr.gg/team/stats/11058/g2-esports/?event_id=all&core_id=all&date_start=2024-02-16&date_end='
    elif team == "LEV":
        url = 'https://www.vlr.gg/team/stats/2359/leviat-n/?event_id=all&core_id=all&date_start=2024-02-16&date_end='
    elif team == "FNC":
        url = 'https://www.vlr.gg/team/stats/2593/fnatic/?event_id=all&date_start=2024-02-16&date_end='
    elif team == "TH":
        url = 'https://www.vlr.gg/team/stats/1001/team-heretics/?event_id=all&core_id=all&date_start=2024-02-16&date_end='
    elif team == "FUT":
        url = 'https://www.vlr.gg/team/stats/1184/fut-esports/?event_id=all&date_start=2024-02-16&date_end='
    elif team == "PRX":
        url = 'https://www.vlr.gg/team/stats/624/paper-rex/?event_id=all&core_id=all&date_start=2024-02-16&date_end='
    elif team == "GEN":
        url = 'https://www.vlr.gg/team/stats/17/gen-g/?event_id=all&core_id=all&date_start=2024-02-16&date_end='
    elif team == "T1":
        url = 'https://www.vlr.gg/team/stats/14/t1/?event_id=all&core_id=all&date_start=2024-02-16&date_end='
    elif team == "EDG":
        url = 'https://www.vlr.gg/team/stats/1120/edward-gaming/?event_id=all&core_id=all&date_start=2024-02-16&date_end='
    elif team == "FPX":
        url = 'https://www.vlr.gg/team/stats/11328/funplus-phoenix/?event_id=all&date_start=2024-02-16&date_end='
    elif team == "DRG":
        url = 'https://www.vlr.gg/team/stats/11981/dragon-ranger-gaming/?event_id=all&core_id=all&date_start=2024-02-16&date_end='
    else:
        url = ''
    return url

In [12]:
def get_data(team):
    url = get_url(team)
    html_text = requests.get(url).text
    soup = BeautifulSoup(html_text, 'lxml')
    table = soup.find('table', class_ ="wf-table mod-team-maps")
    stats = table.find_all('tr', class_ = None)

    columns = ["map", "times_played", "win_rate", "wins", "losses", "atk_1st", "def_1st", 
               "atk_win_rate", "atk_wins", "atk_losses", "def_win_rate", "def_wins", "def_losses"]
    list = []

    rows = []
    for stat in stats:
        rows.append(stat.get_text().replace("\t", " ").replace("\n",""))

    for row in rows:
        data = row.split(" ")
        data = [i for i in data if i != '']
        if(data[0] == "Map"):
            continue
        if data[1] != "(0)":
            data = [data[0], int(data[1][1:2]), data[2], int(data[3]), int(data[4]), int(data[5]), int(data[6]), data[7], 
                    int(data[8]), int(data[9]), data[10], int(data[11]), int(data[12])]
            list.append(data)

    df = pd.DataFrame(list, columns=columns)
    return df

In [13]:
df_100t = get_data("100T")
df_g2 = get_data("G2")
df_lev = get_data("LEV")
df_fnc = get_data("FNC")
df_th = get_data("TH")
df_fut = get_data("FUT")
df_prx = get_data("PRX")
df_gen = get_data("GEN")
df_t1 = get_data("T1")
df_edg = get_data("EDG")
df_fpx = get_data("FPX")
df_drg = get_data("DRG")

vct_data = {"100T":df_100t, "G2":df_g2, "LEV":df_lev, "FNC":df_fnc, "TH":df_th, "FUT":df_fut, 
            "PRX":df_prx, "GEN":df_gen, "T1":df_t1, "EDG":df_edg, "FPX":df_fpx, "DRG":df_drg}

In [14]:
print("100T")
df_100t

100T

,map,times_played,win_rate,wins,losses,atk_1st,def_1st,atk_win_rate,atk_wins,atk_losses,def_win_rate,def_wins,def_losses
0,Bind,9,78%,7,2,4,5,58%,49,36,61%,59,37
1,Split,7,57%,4,3,1,6,46%,27,32,56%,47,37
2,Ascent,2,100%,2,0,0,2,62%,8,5,75%,18,6
3,Icebox,4,50%,2,2,2,2,55%,22,18,53%,25,22
4,Breeze,2,100%,2,0,0,2,60%,12,8,58%,14,10
5,Lotus,1,0%,0,1,0,1,33%,2,4,25%,3,9
6,Sunset,3,33%,1,2,0,3,50%,15,15,46%,17,20

In [15]:
print("G2")
df_g2

G2

,map,times_played,win_rate,wins,losses,atk_1st,def_1st,atk_win_rate,atk_wins,atk_losses,def_win_rate,def_wins,def_losses
0,Bind,6,33%,2,4,1,5,55%,36,30,48%,31,34
1,Split,5,60%,3,2,2,3,46%,27,32,58%,33,24
2,Ascent,5,80%,4,1,4,1,53%,33,29,49%,26,27
3,Icebox,9,56%,5,4,3,6,56%,46,36,55%,55,45
4,Breeze,5,40%,2,3,3,2,45%,25,30,49%,24,25
5,Lotus,5,80%,4,1,3,2,64%,35,20,57%,26,20
6,Sunset,6,33%,2,4,2,4,47%,30,34,48%,34,37

In [16]:
print("LEV")
df_lev

LEV

,map,times_played,win_rate,wins,losses,atk_1st,def_1st,atk_win_rate,atk_wins,atk_losses,def_win_rate,def_wins,def_losses
0,Bind,6,67%,4,2,4,2,48%,31,33,54%,34,29
1,Split,3,0%,0,3,3,0,33%,12,24,21%,4,15
2,Ascent,4,25%,1,3,1,3,48%,20,22,51%,27,26
3,Icebox,7,71%,5,2,6,1,54%,46,39,49%,38,39
4,Breeze,4,50%,2,2,2,2,43%,19,25,65%,26,14
5,Lotus,5,60%,3,2,2,3,59%,35,24,41%,26,38
6,Sunset,4,75%,3,1,2,2,67%,26,13,47%,21,24

In [17]:
print("FNC")
df_fnc

FNC

,map,times_played,win_rate,wins,losses,atk_1st,def_1st,atk_win_rate,atk_wins,atk_losses,def_win_rate,def_wins,def_losses
0,Bind,6,67%,4,2,3,3,64%,43,24,42%,25,35
1,Split,5,60%,3,2,4,1,50%,29,29,55%,26,21
2,Ascent,3,67%,2,1,1,2,52%,14,13,56%,20,16
3,Icebox,4,25%,1,3,2,2,52%,22,20,43%,18,24
4,Breeze,7,71%,5,2,2,5,56%,40,31,48%,34,37
5,Lotus,8,50%,4,4,3,5,55%,49,40,53%,55,49
6,Sunset,1,0%,0,1,1,0,33%,4,8,38%,3,5

In [18]:
print("TH")
df_th

TH

,map,times_played,win_rate,wins,losses,atk_1st,def_1st,atk_win_rate,atk_wins,atk_losses,def_win_rate,def_wins,def_losses
0,Bind,5,80%,4,1,1,4,63%,35,21,49%,30,31
1,Split,7,43%,3,4,1,6,38%,24,39,51%,41,39
2,Icebox,4,50%,2,2,3,1,53%,25,22,47%,18,20
3,Breeze,4,50%,2,2,3,1,61%,25,16,50%,18,18
4,Lotus,1,64%,7,4,3,8,62%,74,45,39%,52,81
5,Sunset,8,75%,6,2,3,5,52%,45,41,63%,56,33

In [19]:
print("FUT")
df_fut

FUT

,map,times_played,win_rate,wins,losses,atk_1st,def_1st,atk_win_rate,atk_wins,atk_losses,def_win_rate,def_wins,def_losses
0,Bind,5,40%,2,3,2,3,54%,31,26,46%,22,26
1,Split,5,60%,3,2,2,3,56%,30,24,60%,34,23
2,Ascent,1,100%,1,0,1,0,67%,8,4,63%,5,3
3,Icebox,6,67%,4,2,4,2,64%,42,24,47%,27,30
4,Breeze,2,50%,1,1,2,0,50%,12,12,60%,12,8
5,Lotus,5,40%,2,3,4,1,59%,41,28,40%,26,39
6,Sunset,4,50%,2,2,2,2,38%,17,28,63%,25,15

In [20]:
print("PRX")
df_prx

PRX

,map,times_played,win_rate,wins,losses,atk_1st,def_1st,atk_win_rate,atk_wins,atk_losses,def_win_rate,def_wins,def_losses
0,Bind,9,56%,5,4,4,5,52%,46,42,49%,49,50
1,Split,7,71%,5,2,4,3,53%,41,37,62%,44,27
2,Ascent,7,57%,4,3,5,2,49%,38,40,52%,36,33
3,Icebox,4,75%,3,1,4,0,46%,22,26,62%,26,16
4,Breeze,1,0%,0,1,1,0,50%,6,6,36%,4,7
5,Lotus,1,42%,5,7,10,2,56%,78,61,48%,55,60
6,Sunset,1,80%,8,2,4,6,52%,52,48,62%,63,38

In [21]:
print("GEN")
df_gen

GEN

,map,times_played,win_rate,wins,losses,atk_1st,def_1st,atk_win_rate,atk_wins,atk_losses,def_win_rate,def_wins,def_losses
0,Bind,8,50%,4,4,3,5,50%,45,45,51%,44,42
1,Split,1,45%,5,6,7,4,47%,54,62,55%,61,50
2,Ascent,1,80%,8,2,5,5,57%,59,44,62%,66,41
3,Icebox,1,60%,6,4,5,5,48%,57,62,53%,59,53
4,Breeze,9,56%,5,4,3,6,60%,50,33,48%,45,49
5,Lotus,1,83%,10,2,3,9,61%,73,46,54%,74,62
6,Sunset,5,60%,3,2,2,3,52%,28,26,50%,27,27

In [22]:
print("T1")
df_t1

T1

,map,times_played,win_rate,wins,losses,atk_1st,def_1st,atk_win_rate,atk_wins,atk_losses,def_win_rate,def_wins,def_losses
0,Bind,5,0%,0,5,5,0,41%,25,36,43%,23,30
1,Split,2,0%,0,2,2,0,37%,10,17,43%,9,12
2,Ascent,5,40%,2,3,0,5,47%,22,25,52%,31,29
3,Icebox,1,0%,0,1,1,0,33%,4,8,58%,7,5
4,Breeze,3,100%,3,0,2,1,62%,24,15,54%,20,17
5,Lotus,1,60%,6,4,3,7,55%,50,41,52%,54,50
6,Sunset,6,50%,3,3,5,1,41%,28,40,56%,35,27

In [23]:
print("EDG")
df_edg

EDG

,map,times_played,win_rate,wins,losses,atk_1st,def_1st,atk_win_rate,atk_wins,atk_losses,def_win_rate,def_wins,def_losses
0,Bind,8,75%,6,2,5,3,53%,48,43,60%,50,33
1,Split,6,83%,5,1,3,3,50%,28,28,65%,42,23
2,Ascent,7,57%,4,3,6,1,49%,42,44,57%,29,22
3,Icebox,6,50%,3,3,3,3,59%,34,24,39%,26,40
4,Breeze,8,75%,6,2,5,3,61%,57,37,47%,41,47
5,Lotus,1,0%,0,1,1,0,25%,3,9,43%,3,4
6,Sunset,7,71%,5,2,5,2,64%,50,28,43%,29,39

In [24]:
print("FPX")
df_fpx

FPX

,map,times_played,win_rate,wins,losses,atk_1st,def_1st,atk_win_rate,atk_wins,atk_losses,def_win_rate,def_wins,def_losses
0,Bind,4,50%,2,2,1,3,60%,28,19,39%,18,28
1,Split,1,0%,0,1,0,1,14%,1,6,42%,5,7
2,Ascent,5,80%,4,1,0,5,64%,30,17,57%,36,27
3,Icebox,6,50%,3,3,3,3,64%,43,24,41%,25,36
4,Breeze,7,43%,3,4,1,6,45%,32,39,50%,43,43
5,Lotus,8,88%,7,1,4,4,71%,55,23,56%,46,36
6,Sunset,4,75%,3,1,3,1,63%,30,18,42%,14,19

In [25]:
print("DRG")
df_drg

DRG

,map,times_played,win_rate,wins,losses,atk_1st,def_1st,atk_win_rate,atk_wins,atk_losses,def_win_rate,def_wins,def_losses
0,Bind,6,67%,4,2,3,3,48%,29,32,56%,40,31
1,Split,5,40%,2,3,4,1,41%,24,34,52%,22,20
2,Ascent,5,60%,3,2,2,3,50%,18,18,62%,34,21
3,Icebox,5,80%,4,1,4,1,56%,30,24,52%,27,25
4,Breeze,8,25%,2,6,4,4,40%,34,50,48%,39,42
5,Sunset,5,40%,2,3,0,5,52%,24,22,37%,22,38